@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo {
  margin-top: 10vh;
  margin-bottom: 10px;
  width: 200px;
}

.barrier {
  width: 100px;
}

.header {
  font-size: 48px;
  margin-bottom: 15px;
}

.sub {
  font-size: 20px;
  margin-bottom: 3em;
}

@media screen and (max-width: 400px) {
  .logo {
    width: 20vh;
  }
  .header {
    width: 40vh;
    margin: auto;
  }

  .sub {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 40vh;
    margin: auto;
  }
}