@media screen and (max-width: 500px) {
    .navbar {
        align-items: center;
    }

    .navbar img {
        height: 40px;
    }

    .c-1_main {
        padding-top: 10vh;
    }

    .c-1_header {
        padding-top: 1vh;
        width: 90%;
        margin: auto;
    }

    .c-2_projects {
        display: flex;
        flex-direction: column;
    }

    .project {
        margin: 0 auto 20px auto;
        width: 80%;
        height: auto;
    }

    .c-2 {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .c-2_upper {
        font-size: 18px;
    }

    .c-2_desc {
        font-size: 20px;
    }

    .c-3 {
        display: flex;
        flex-direction: column;
    }

    .c-3_box {
        width: 100%;
    }
}